<ion-header>
  <ion-toolbar>
    <ion-title>
      Tentang Aplikasi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>
    Terima kasih telah menggunakan aplikasi podcast netra. Aplikasi Podcast Netra dibuat untuk memudahkan siapa saja
    yang
    ingin mengirimkan karya podcastnya ke podcast netra, ataupun mempermudah untuk mendengarkan podcast.
  </p>
  <p>Yuk kontak saya melalui</p>

  <div class="ion-margin-top social-links">
    <ion-button href="https://twitter.com/Muha_aku" target="_blank" color="primary">
      <ion-icon name="logo-twitter"></ion-icon> Twitter
    </ion-button>
    <ion-button href="https://facebook.com/muhammad.gagah" target="_blank" color="primary">
      <ion-icon name="logo-facebook"></ion-icon> Facebook
    </ion-button>
    <ion-button href="https://instagram.com/muha_aku" target="_blank" color="primary">
      <ion-icon name="logo-instagram"></ion-icon> Instagram
    </ion-button>
  </div>

  <p>
    Jangan ragu untuk terhubung dengan saya melalui sosial media! Jika Anda memiliki pertanyaan atau ingin
    berbicara, silakan klik tombol di bawah ini.
  </p>

  <ion-button href="mailto:muha.aku@gmail.com" color="primary">Hubungi Saya</ion-button>

  <div class="ion-margin-top">
    <ion-title class="podcast-heading">Jadilah Bagian dari Podcast Netra</ion-title>
    <ion-text class="podcast-description">
      Menawarkan kesempatan untuk mengisi host podcast Netra! Tingkatkan keterampilan bicaramu melalui podcast, dan
      bagikan cerita serta pengalaman yang asyik, di podcast netra😎<br />Bergabunglah dengan kami
      sekarang dan jadilah bagian dari komunitas podcast yang menginspirasi!
    </ion-text>
  </div>

  <p>
    &#169;{{ getCurrentYear() }} | <a
      href="https://m.facebook.com/muhammad.gagah?ref_component=mbasic_home_header&ref_page=%2Fwap%2Fhome.php&refid=8"
      class="ion-link">Muhammad Gagah, and Powered by ionic 7.2.0</a>
  </p>
</ion-content>