<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="information-circle"></ion-icon>
      <ion-label>Petunjuk</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Halaman Utama</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dengar" href="/tabs/dengar">
      <ion-icon aria-hidden="true" name="play-circle"></ion-icon>
      <ion-label>Dengarkan Podcast</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" href="/tabs/tab4">
      <ion-icon aria-hidden="true" name="information"></ion-icon>
      <ion-label>Tentang Aplikasi</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>