<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Petunjuk Aplikasi
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button>Kembali</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="welcomecard bg-content">
    <ion-card-header>
      <ion-card-title color="primary">Petunjuk Aplikasi Podcast Netra</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Hai, selamat datang.</p>
      <p>Aplikasi ini ditujukan untuk kamu yang ingin mendengarkan, atau mengisi konten dalam
        <a href="https://open.spotify.com/show/6073JNq3WXCwuHZyUWwuBV" target="_blank" rel="noopener noreferrer">Podcast
          Netra</a><br>
        Harap berikan data selengkap mungkin, dan siapkan juga URL file audio/video yang akan kamu kirimkan, bisa dari
        <a href="https://www.mediafire.com/" target="_blank" rel="noopener noreferrer">MediaFire</a>,
        <a href="https://www.dropbox.com/" target="_blank" rel="noopener noreferrer">Dropbox</a>,
        <a href="https://drive.google.com/" target="_blank" rel="noopener noreferrer">Google Drive</a>, atau media
        penyimpanan file online lainnya jika ingin mengirimkan podcast yang dibuat.
      </p>
      <p>Setelah kamu mengisi formulir, admin akan meninjau data dan file yang dikirimkan, dan kamu dapat melihat
        status formulir melalui
        <ion-router-link [routerLink]="['/tabs/tab3']">Sini</ion-router-link>
      </p>
      <p>Yuk, semangat podcast bersama!</p>
      <div padding>
        <ion-button expand="block" color="primary" size="medium" (click)="lanjutkan()">
          <ion-icon name="arrow-forward"></ion-icon> Lanjutkan
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>